In [46]:
import numpy as np
import pandas as pd

In [47]:
df=pd.read_csv("placement (1).csv")
df.head()

   cgpa  package
0  6.89     3.26
1  5.12     1.98
2  7.82     3.25
3  7.42     3.67
4  6.94     3.57

In [48]:
x=df.iloc[:,0]
y=df.iloc[:,-1]

In [49]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=42)

# Linear Regression

In [66]:
class mylr:
    def __init__(self):
        self.m=None
        self.b=None
        
    def fit(self,x_train,y_train):
        num=0
        den=0
        for i in range(x_train.shape[0]):
            num=num+((x_train.iloc[i]-x_train.mean())*(y_train.iloc[i]-y_train.mean()))
            den=den+((x_train.iloc[i]-x_train.mean())*(x_train.iloc[i]-x_train.mean()))
        
        self.m=num/den
        
        self.b = y_train.mean() - (self.m * x_train.mean())
        
        print(self.m)
        print(self.b)
        
    def predict(self,x_test):
        
        return self.m*x_test + self.b

In [67]:
li = mylr()

In [68]:
li.fit(x_train,y_train)

0.5742564727019197
-1.0270069374542108

In [30]:
lr.predict(x_test[95])

79     2.987008
197    2.548039
38     2.678737
24     2.770137
122    2.799589
         ...
106    2.650303
14     2.776167
92     2.574555
179    2.900724
102    2.670440
Length: 160, dtype: float64